body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(155, 211, 233);
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background: rgb(28, 157, 255);
    box-shadow: 0px 2px 6px rgba(22, 135, 228, 0.1);
}

nav a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 15px;
    text-decoration: none;
}

header {
    background: rgb(0, 0, 0);
    box-shadow: 4px 20px 40px;
    color: rgb(62, 163, 230);
    padding: 1rem;
}

.model {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.login-card {
    width: 320px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left .logo {
    height: 45px;
    margin-right: 10px;
}

.site-header {
    display: flex;
    align-items: start;
    justify-content: left;
    background: #21cfee;
    padding: 15px 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    size: 100px;
    height: auto;
    width: auto;
    margin-right: 15px;
    border-radius: 8px;
}

.hidden {
    display: none;
}

.button {
    padding: 10px 20px;
    border: none;
    background: rgb(183, 183, 214);
    border-radius: 10px;
    color: wheat;
    border-radius: 6px;
    cursor: pointer;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

.option {
    border: 1px solid #ddd;
    margin: 8px;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.option:hover {
    background: rgb(214, 214, 245);
}

.btn {
    background: rgb(196, 196, 255);
    color: white;
    border-radius: 0px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: rgb(30, 30, 211);
    border-radius: 20px;
}